*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: lightgray;
}

.container{
  
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
justify-content:space-between;
}

.back-vid{
 
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
    mix-blend-mode: overlay;
}

header{
    border:2px solid rgb(66, 183, 20);
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    
    height: 68px;
    background-color: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(10px);
    padding: 0 30px;
box-shadow: 0 0 15px #72a1de68 ;
z-index: 999;
    display: flex;
    justify-content: space-between;
    
}


.left{
       /*  margin-right: auto; for shifting logo box to right side */
    border:2px solid rgb(35, 9, 139);
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.left img{  /*logo*/
border-radius: 4%;
    border:2px solid rgb(44, 243, 9);
    background-color: #f43a075e;
    width: 40px;
    margin: 4px;

}


header ul{
    border:2px solid rgb(237, 9, 9);
    display: flex;
    justify-content:space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(131, 194, 22, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #13d042;
}

header ul li{ /* for removing bullet point */
    list-style: none;
}

header ul a{
    border:2px solid rgb(153, 220, 9);
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    margin: 0 10px;
}

.box-icons{
  
    border:2px solid rgb(225, 15, 116);
    display: flex;
    gap: 20px;
}

.box-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid hotpink;
    text-decoration: none;
    color: lightgray;
    border-radius: 50%;
    transition: 0.3s;
}

.box-icons a:hover{
    background-color: antiquewhite;
    color: black;
    box-shadow: 0 0 15px forestgreen;
}








@media (max-aspect-ratio:16/9){
    .back-vid{
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9){
    .back-vid{
        width: 100%;
      height: auto;
    }
}

